# This configuration IS NOT FOR PRODUCTION but useful in DEV
# After installing nginx
# Using sudo touch or sudo nano, create a file in /etc/nginx/sites-available
# Copy this content, update variable server_name, save it with the frontend-app as name
# Create a symlink of this file into /etc/nginx/sites-enable
# sudo ln -s /etc/nginx/sites-available/frontend-app /etc/nginx/sites-enabled/
# (Optional) Unlink the default server, this enable the nginx serve vite / vue as default 
# Restart ngnix - sudo systemctl restart nginx
# Enter to the app through internet using SERVER_IP

server {
  listen 80;
  server_name ${SERVER_DNS | SERVER_IP}; # EC2 domain name server or IP

  location /api {
    proxy_pass http://127.0.0.1:3000; # Port of API node app
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location / {
    proxy_pass http://127.0.0.1:5173; # Port of vite / vue
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
